

#leftMenu{
  width: auto;
  overflow-y: auto;
  padding-bottom: 30px;
}


h2 .glyphicon{
  float: right;
  margin-top: 6px;
  cursor: pointer;
}

.resultItem{
  padding-bottom: 10px;
  padding-right: 10px;
}
.resultItem .glyphicon, .resultItem progress{
  float: right;
  padding: 0px;
}

#analysisPanel{
  margin-left: 270px;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

table.tablesorter thead tr .header {
	cursor: pointer;
}
table.tablesorter thead tr .header:after{
  padding-left: 2px;
  content:"\e150";
  font-family:"Glyphicons Halflings";
}
table.tablesorter thead tr .headerSortUp:after{
  padding-left: 2px;
  content:"\e156";
  font-family:"Glyphicons Halflings";
}
table.tablesorter thead tr .headerSortDown:after{
	padding-left: 2px;
  content:"\e155";
  font-family:"Glyphicons Halflings";
}

/*Option menu to be shown when the user selects a row*/

.queryOptionsMenu {
  min-width: 170px;
  background-color: white;
  border:5px solid #aaaaaa;
  border-radius: 16px;
  padding: 7px;
  position: absolute;
  z-index: 101;
}

.queryOptionsMenu .glyphicon-remove {
  float: right;
}

/*Add padding between elements, and after the glyphicon*/
.queryOptionsMenu .queryOptionItem{
  margin-bottom: 5px;
}
.queryOptionsMenu .queryOptionItem:last-child{
  margin-bottom: 0px;
}

.queryOptionsMenu .glyphicon{
  padding-right:4px;
	cursor: pointer;

}


/*Arrow shape to the left, to point at the clicked row*/
/*.queryResultOptions::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
*/

/*Arrow shape to the top, to point at the clicked row*/
.queryOptionsMenu::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #aaaaaa transparent;
}

/*Pattern tab in left column*/
#tabPatternAnalysis{
  max-width:500px;
}

/**Analysis right panel **/

/*Only show a refresh button if the tab is active*/
.nav.nav-tabs li:not(.active) i {
  display:none;
}
.nav.nav-tabs li i{
  cursor: pointer;
}

/* Loading spinner style*/
.spinner{
  margin-top: 50px;
}
.spinnerMessage{
  display:none;
  text-align: center;
  padding-top: 50px;
}


/* Sankey diagram style*/
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}