#queryResultListContainer span.closeResults{
  cursor:pointer;
}

#queryResultListContainer .glyphicon{
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

/*Make the cell containing the query options larger, so both icons fit*/
#queryResultListContainer th.resultOptions{
  width:80px;
}

#infoMainPanel{
  padding-left: 10px;
}
/*The class page-header was adding too much space at the top*/
#infoMainPanel .page-header{
  margin-top: 5px;
}

/** Style to apply to pattern related functionalities,
such as highlighting the results that
can be selected as inputs for the pattern mining**/
#patternInputList .addPatternInput{
  cursor: pointer;
}
.selectableResult{
  background: gray;
  cursor: pointer;
}
.selectableResult:hover{
  background: lightgray;
}

/**All this CSS is deprecated, from a version with a long list of buttons.**/
/*The default colour behaviour of the buttons is set by bootstrap.
In order to override it, the colour setting for all conditionas need to be overriden*/
div.catalogList{
  width:100%;
}
label.btn{
  color: #ffffff;
  /*font-size: 20px;*/
  background: #aaaaaa;
  border-color:white;
}
/*Hovering over button*/
label.btn-primary:hover{
  background: #aaaaaa;
  border-color:black;
}
/*Button is held down*/
label.btn-primary:active,label.btn-primary:active:hover{
  background: #aaaaaa;
  border-color:black;
}
/*button is on focus*/
label.btn-primary.focus{
  background: #aaaaaa;
  border-color:black;
}
/*Button has been selected*/
label.btn-primary.active, label.btn-primary.active.focus{
  background: #666666;
  border-color:black;
}
label:focus{
  background: #aaaaaa;
  border-color:black;
}

label.btn-primary.active:hover{
  background-color: #666666;
  border-color:black;
}
label.btn-primary.active:focus{
  background-color: #666666;
  border-color:black;
}
