/*leftMenu is the container for the hideLeftMenu icon and the leftMenuContent*/
#leftMenu{
 padding-top: 10px;
}

/*leftMenuContent has the "content" that will hide when hideLeftMenu  is clicked*/
#leftMenuContent{
  position:fixed;
  width: auto;
  overflow-y: auto;
  padding-bottom: 30px;
  background: white;
  min-width: 370px;/*min width so is enver too small*/
  height: 90%;
}

#leftMenu span.hideLeftMenu{
  padding-top: 5px;
  float:left;
  cursor: pointer;
  z-index:2;
  padding-left:5px;

  border-radius: 50%;
  width: 30px;
  height: 30px; 
  background-color:#aaaaaa; 
}

#leftMenuContent .nav.nav-tabs:first-of-type{
  padding-left: 35px;
}

h2 .glyphicon{
  float: right;
  margin-top: 6px;
  cursor: pointer;
}

.resultItem{
  padding-bottom: 10px;
  padding-right: 10px;
}
.resultItem .glyphicon, .resultItem progress{
  float: right;
  padding: 0px;
}

table.tablesorter thead tr .header {
	cursor: pointer;
}
table.tablesorter thead tr .header:after{
  padding-left: 2px;
  content:"\e150";
  font-family:"Glyphicons Halflings";
}
table.tablesorter thead tr .headerSortUp:after{
  padding-left: 2px;
  content:"\e156";
  font-family:"Glyphicons Halflings";
}
table.tablesorter thead tr .headerSortDown:after{
	padding-left: 2px;
  content:"\e155";
  font-family:"Glyphicons Halflings";
}

/*Option menu to be shown when the user selects a row*/

.queryOptionsMenu {
  min-width: 170px;
  background-color: white;
  border:5px solid #aaaaaa;
  border-radius: 16px;
  padding: 7px;
  position: absolute;
  z-index: 101;
}

.queryOptionsMenu .glyphicon-remove {
  float: right;
}

/*Add padding between elements, and after the glyphicon*/
.queryOptionsMenu .queryOptionItem{
  margin-bottom: 5px;
}
.queryOptionsMenu .queryOptionItem:last-child{
  margin-bottom: 0px;
}

.queryOptionsMenu .glyphicon{
  padding-right:4px;
	cursor: pointer;

}


/*Arrow shape to the left, to point at the clicked row*/
/*.queryResultOptions::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
*/

/*Arrow shape to the top, to point at the clicked row*/
.queryOptionsMenu::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #aaaaaa transparent;
}
