
h1,h2{
  text-align:center;
}
.container{
  max-width:80%;
}
ul{
  /* Remove the indent in the ul containers */
  padding-left:0;
}
li.eventTemplate{
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  margin: 5px;
  list-style-type: none;
  /*
  position: relative;*/
  display: inline-block;
}
li.eventTemplate span{
  float: right;
}

li.eventTemplateExample{
  float:left;
}

/** CSS for elements inside the template**/
.eventTemplate label {
  display: inline-block;
  width: 20px;
  text-align: right;
}

#eventPaletteArea{
  min-height: 200px;
  min-width: 200px;
  width:auto;
  border: 5px solid #aaaaaa;
  padding:10px;
  margin-left: 230px;
}

#eventOrderArea{
  min-height: 200px;
  min-width: 200px;
  width:auto;
  border: 5px solid #aaaaaa;
  padding:10px;
  margin-bottom: 50px;
  
  /*Adding horizontal scroll if it gets too big*/
  overflow-x:auto;
  overflow-y:hidden;
  display:block;
  /*IMPORTANT ATTRIBUTE! Otherwise elements go to the next line when the border is hit*/
  white-space: nowrap;

}



/**Dragging visual feedback**/
/**What to do when the draggable item is picked**/
.ui-droppable.ui-droppable-active{
  background: #ededed;
}

/** What to do when the user hovers over the droppable area**/ 
.ui-droppable.ui-droppable-hover{
  background: #b3b3b3;
}


.verticalLine {
    border-left: thick solid #ff0000;
}