/*Font for the main tab elements*/
ul.webpageTabs{

}
.pageheader img{
  float: left;
  height:40px;
}
/*End on main tab elements*/

h1,h2{
  text-align:left;
}

h2{
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 0px 16px 16px 0px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  /*font-size: 20px;*/
  background: #aaaaaa;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#leftMenu h2{
  border-radius: 16px 16px 0px 0px;
  margin-bottom: 0px;
}

/*When the menu has been minimised*/
#leftMenu h2.up{
  border-radius: 16px 16px 16px 16px;
}

.greyBox{
  border: 5px solid #aaaaaa;
  padding:10px;
}

#leftMenu{
  position: fixed;
  left: 20px;
  /* There were overlapping problems with bootstrap's row elements
  Cannot be more than 100, as the dialog overlays are 101*/
  z-index: 100;
}

#leftMenu .toggle{
  margin-bottom:7px;
}

#leftMenu img,#leftMenu button,#leftMenu .dropdown-menu{
  width: 120px;
}
#leftMenu img{
  margin: 15px;
}

.container{
  max-width:80%;
}
ul{
  /* Remove the indent in the ul containers */
  padding-left:0;
}


span.glyphicon-trash{
  cursor: pointer;
  font-size: 15px;
}



/**Dragging visual feedback**/
/**What to do when the draggable item is picked**/
.ui-droppable.ui-droppable-active{
  background: #ededed;
}

/** What to do when the user hovers over the droppable area**/ 
.ui-droppable.ui-droppable-hover{
  background: #b3b3b3;
}


.verticalLine {
  border-left: thick solid #ff0000;
}


/** Changes the aspect of the bootstrap icons**/
.glyphicon {
  font-size: 20px;
}

.ui-dialog .ui-state-error { 
  padding: .3em;
}
.validateTips {
  border: 1px solid transparent;
  padding: 0.3em;
}

.hint{
  font-size: 14px;
  color: grey;
}


/** CSS for a dialog to be used, to show messages to the user **/
#toastbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#toastbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
