
h1{
  text-align:center;
}

ul{
  /* Remove the indent in the ul containers */
  padding-left:0;
}
li.eventTemplate{
  position: relative;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  margin: 5px;
  list-style-type: none;
  float: left;/** So the elements appear in an horizontal line **/
}
li.eventTemplate span{
    float: right;
}

li.eventTemplateExample{
    display: inline-block;
}

/** CSS for elements inside the template**/
.eventTemplate label {
  display: inline-block;
  width: 20px;
  text-align: right;
}

#eventPaletteArea{
  min-height: 150px;
  width:auto;
  border: 5px solid #aaaaaa;
  float: left;
  padding:10px;
}

#eventOrderArea{
  min-height: 150px;
  width:80%;
  border: 5px solid #aaaaaa;
  float: left;
  padding:10px;
}



/**Dragging visual feedback**/
/**What to do when the draggable item is picked**/
.ui-droppable.ui-droppable-active{
  background: #ededed;
}

/** What to do when the user hovers over the droppable area**/ 
.ui-droppable.ui-droppable-hover{
  background: #b3b3b3;
}


.verticalLine {
    border-left: thick solid #ff0000;
}