
h1,h2{
  text-align:center;
}
.container{
  max-width:80%;
}
ul{
  /* Remove the indent in the ul containers */
  padding-left:0;
}
li.eventTemplate{
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  margin: 5px;
  list-style-type: none;
  display: inline-block;
  vertical-align: bottom;
}
li.eventTemplate span{
  float: right;
}
li.eventTemplate .glyphicon-move{
  cursor: move;
}
li.eventTemplate .glyphicon-plus{
  cursor: pointer;
}

li.eventTemplateExample{
  float:left;
}

li.eventTemplate table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
}
li.eventTemplate table td, li.eventTemplate table th {
  border: 1px solid #eee;
  padding: .6em 10px;
  text-align: center;
}

/** CSS for elements inside the template**/
.eventTemplate label {
  display: inline-block;
  width: 20px;
  text-align: right;
}

/*Event palette allows template to take various lines*/
#eventPaletteArea{
  min-height: 200px;
  min-width: 200px;
  width:auto;
  border: 5px solid #aaaaaa;
  padding:10px;
  margin-left: 230px;
}
/*Event order area restricts templates to a single ordered line, and shows a scroll bar*/
#eventOrderDiv{
  min-height: 200px;
  min-width: 200px;
  width:auto;
  border: 5px solid #aaaaaa;
  padding:10px;
  margin-bottom: 50px;
  
  /*Adding horizontal scroll if it gets too big*/
  overflow-x:auto;
  overflow-y:auto;
  display:block;
  /*IMPORTANT ATTRIBUTE! Otherwise elements go to the next line when the border is hit*/
  white-space: nowrap;
  /*Important so the temporal constraints can be set to follow the events*/
  position: relative;
  padding-bottom: 30px;
}



/**Dragging visual feedback**/
/**What to do when the draggable item is picked**/
.ui-droppable.ui-droppable-active{
  background: #ededed;
}

/** What to do when the user hovers over the droppable area**/ 
.ui-droppable.ui-droppable-hover{
  background: #b3b3b3;
}


.verticalLine {
    border-left: thick solid #ff0000;
}


/**temporal constraints**/
.tempConstraintObject {
  border: 1px solid green;
  border-radius: 5px;
  text-align: center;
  position:absolute;
  height:25px;
}
.tempConstraintObject .ui-resizable-e{
  cursor: e-resize;
  position:absolute;
  right:-12px;
  top:5%;
}
.tempConstraintObject .ui-resizable-w {
  cursor: e-resize;
  position:absolute;
  left:-12px;
  top:5%;
}


/** Changes the aspect of the bootstrap icons**/
.glyphicon {
    font-size: 20px;
}
/*This rule needs to be unusually specific to override the jquery-ui.css which clashes with bootstrap*/
.tempConstraintObject.ui-resizable .glyphicon-resize-horizontal  {
  font-size: 25px;
  width:auto;
}

/** New event template dialog**/
div#eventTemplateDialog {
  width: 350px;
  margin: 20px 0;
}
div#eventTemplateDialog label, div#eventTemplateDialog input {
  display:block;
}

div#eventTemplateDialog table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
}
div#eventTemplateDialog table td, div#eventTemplateDialog table th {
  border: 1px solid #eee;
  padding: .6em 10px;
  text-align: center;
}
.ui-dialog .ui-state-error { 
  padding: .3em;
}
.validateTips {
  border: 1px solid transparent;
  padding: 0.3em;
}

.hint{
  font-size: 14px;
  color: grey;
}
div#eventTemplateDialog .occurrenceInput{   
  padding-right: 5px;
  padding-left: 5px;
}
div#eventTemplateDialog .glyphicon{
  cursor: pointer;
}
